[MESSAGES CONTROL]
enable=all
disable=suppressed-message,locally-disabled,bad-continuation, missing-function-docstring,logging-fstring-interpolation,missing-class-docstring,unsubscriptable-object,too-few-public-methods

[REPORTS]
reports=yes

[FORMAT]
max-line-length=120
max-args=8
max-attributes=8
